.atmosphere-container {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.atmosphere, .stars {
  position: absolute;
	display: block;
  top: 0; 
  bottom: 0;
  left: 0; 
  right: 0;
  width: 100%; 
  height: 100%;
}

.atmosphere {
  z-index: 0;
	background: transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twinkle-back 200s linear infinite;
}

.stars {
  z-index: -1;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.App {
  text-align: center;
  margin: 2rem auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move-twinkle-back {
	from {
    background-position: 0 0;
  }
	to {
    background-position: -10000px 5000px;
  }
}